@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Medium.otf") format("otf");
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-MediumItalic.otf") format("otf");
  font-style: italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BoldItalic.otf") format("otf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.otf") format("otf");
  font-style: oblique;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BookItalic.otf") format("otf");
  font-style: oblique, italic;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Black.otf") format("otf");
  font-weight: bolder;
}

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-BlackItalic.otf") format("otf");
  font-weight: bolder;
  font-style: italic;
}

body {
  font-family: "CircularStd", sans-serif;
}
